{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="product-page">
  <div class="product-details">
    <div class="product-cover-container">
      <img class="product-album-cover" src="{{ album.cover_url }}" alt="{{ album.title }} cover">
      <img class="product-album-cover-vinyl-two" src="{% static 'images/cd2.png' %}" alt="CD Picture">
    </div>
    <div class="product-info">
      <h2 class="product-title"><span class="product-album-name">{{ album.title }}</span> Vinyl Record</h2>
      <p class="product-artist">{{ album.artist }}</p>
      <p class="product-price">${{ album.price }}</p>
      <p class="underline"></p>
  
      <form class="product-buttons" method="post" action="{% url 'add_to_cart' album.spotify_id %}">
        {% csrf_token %}
        
        <!-- Quantity input with - and + buttons -->
        <div class="quantity-box">
          <div class="quantity-input">
            <button type="button" class="quantity-btn" onclick="decrementQuantity(this)">-</button>
            <input type="text" name="quantity" id="id_quantity" value="1" oninput="validateQuantity(this)">
            <button type="button" class="quantity-btn" onclick="incrementQuantity(this)">+</button>
            <input type="submit" value="Add to Cart" class="product-add-to-cart-btn">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- <div class="product-description">
  <div class="description-column">
    <h3>Description:</h3>
    <p>Purchase your {{ album.title }} vinyl record.</p>
    <p>{{ album.title }} was released by {{ album.artist }} on {{ release_date }}.</p>
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}

    <p>Feel free to give {{ album.title }} a digital listen first. <a href="{{ spotify_link }}" target="_blank">Spotify link</a></p>
  </div>

  <div class="tracklist-column">
    {% if tracklist %}
        <h3>Tracklist:</h3>
        <ul>
            {% for track in tracklist %}
                <li>{{ track.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
</div> -->

<div class="product-description">
  <h3>Description:</h3>
  <p>Purchase your {{ album.title }} vinyl record.</p>
  <p>{{ album.title }} was released by {{ album.artist }} on {{ release_date }}.</p>
  {% if description %}
      <p>{{ description }}</p>
  {% endif %}

  {% if tracklist %}
    <!-- <h3>Tracklist:</h3> -->
    <button class="tracklist-btn" id="toggleTracklist">Show Tracklist</button> <!-- Button to toggle tracklist visibility -->
    <ul class="tracklist" id="tracklist" style="display: none;"> <!-- Hidden by default -->
        {% for track in tracklist %}
            <li>{{ track.name }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <p>Feel free to have a digital listen first. <a href="{{ spotify_link }}" target="_blank">Spotify link</a></p>
</div>

  <script>
    function incrementQuantity(button) {
      var quantityInput = button.parentNode.querySelector('#id_quantity');
      var currentQuantity = parseInt(quantityInput.value);
      quantityInput.value = currentQuantity + 1;
    }

    function decrementQuantity(button) {
      var quantityInput = button.parentNode.querySelector('#id_quantity');
      var currentQuantity = parseInt(quantityInput.value);
      if (currentQuantity > 1) {
        quantityInput.value = currentQuantity - 1;
      }
    }

    function validateQuantity(input) {
      var value = parseInt(input.value);
      if (isNaN(value) || value < 1) {
        input.value = 1;
      }
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      const addToCartBtn = form.querySelector('.product-add-to-cart-btn'); // Select the Add to Cart button

      // Function to handle form submission
      const handleFormSubmission = function(event) {
        // Prevent form submission
        event.preventDefault();

        // Get album title from the page
        const albumTitle = "{{ album.title }}";

        // Disable the Add to Cart button
        addToCartBtn.disabled = true;

        // Display notification message
        const notification = document.getElementById('notification');
        notification.textContent = `You have successfully added ${albumTitle} to your cart!`;
        notification.style.display = 'block'; // Show the notification

        // Clear notification and hide after 5 seconds (5000 milliseconds)
        setTimeout(function() {
          notification.textContent = '';
          notification.style.display = 'none'; // Hide the notification

          // Re-enable the Add to Cart button after notification disappears
          addToCartBtn.disabled = false;

          // Submit the form
          form.submit();
        }, 2000); // Adjust the timeout value as needed for your desired duration
      };

      // Add event listener to the form for form submission
      form.addEventListener('submit', handleFormSubmission);

      // Add event listener to the Add to Cart button for click event
      addToCartBtn.addEventListener('click', handleFormSubmission);
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var toggleButton = document.getElementById("toggleTracklist");
      var tracklist = document.getElementById("tracklist");

      toggleButton.addEventListener("click", function() {
        if (tracklist.style.display === "none") {
          tracklist.style.display = "block";
          toggleButton.textContent = "Hide Tracklist";
        } else {
          tracklist.style.display = "none";
          toggleButton.textContent = "Show Tracklist";
        }
      });
    });
  </script>
{% endblock %}
